.App {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    padding: 5rem;
    justify-content: center;
    align-items: center;
}

.Wallet {
    display: flex;
    justify-content: space-between;
}
